:root {
  --main-bg: #FFFFFF;
  --secondary-bg: #F8F8F8;
  --primary-color: #FFB6C1; /* Rose pastel */
  --secondary-color: #A7C7E7; /* Bleu pastel */
  --accent-color: #B5EAD7; /* Vert menthe */
  --text-color: #4A4A4A;
  --text-color-hover: #6f6f6f;
}

.App {
  overflow-x: hidden;
  width: 100%;
  height: auto;
  min-height: 300vh;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: var(--main-bg);
}

main{
  display: flex;
  justify-content: center;
}